<html>

<head>
  <title>IronBeers
  </title>
  <style>
    .main {
      display: flex;
      flex-direction: column;
    }

    body {
      display: flex;
      font-family: sans-serif;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    nav li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0;

    }
  </style>
</head>

<body>
  <div class="main">
    <nav>
      <li>
        <ul> <a href="./">Home</a>
        </ul>
        <ul> <a href="./beers">Beers</a>
        </ul>
        <ul> <a href="./random-beers">Random Beers</a>
        </ul>
      </li>
    </nav>


    <div>
      {{{body}}}
    </div>


  </div>
</body>




</html>